<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" type="text/css" href="/media/css/global.css"/>
</head>

<body>
    <div class="header">
        <a href="/" class="header-button"></a>
    </div>
    <h1>{{ object.title }}</h1>
    <p>{{ object.description }}</p>
    {% for item in object.Item.all %}
        {% for column in item.columns %}
            <div>{{ column.content }}</div>
        {% empty %}
            <h3>no content yet</h3>
        {% endfor %}
    {% empty %}
        <li>no columns yet</li>
    {% endfor %}
    
    <form action="{% url 'delete-table' table_no=object.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" />
    </form>
</body>
</html>
